@using System.Security.Claims;
@model LitLounge.ViewModels.SearchViewModel
@{
    var claim = User.Claims.FirstOrDefault(x => x.Type == ClaimsIdentity.DefaultNameClaimType);
    string userEmail = claim?.Value ?? "";
}
<header class="navbar navbar-expand-lg navbar-light shadow-sm">
    <div class="container" bis_skin_checked="1">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">LitLounge</a>
        <div class="navbar-toolbar d-flex align-items-center order-lg-3">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <span class="navbar-text" style="margin-left:10px">@userEmail</span>
            @if (String.IsNullOrEmpty(userEmail))
            {
                <a class="navbar-tool" style="padding-left: 10px;" asp-area="" asp-controller="Account" asp-action="Login">
                    <div class="navbar-tool-icon-box"><img src="~/lib/icons/person-add.svg" alt="Account" width="32" height="32"></div>
                </a>
            }
            else
            {
                <a class="navbar-tool" style="padding-left: 10px;" asp-area="" asp-controller="Account" asp-action="Logout">
                    <div class="navbar-tool-icon-box"><img src="~/lib/icons/person-dash.svg" alt="Account" width="32" height="32"></div>
                </a>
            }
        </div>
        <div class="collapse navbar-collapse" id="navbarColor03" bis_skin_checked="1">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Book" asp-action="Search">Advanced search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/VHaleta/LitLounge">GitHub</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside">Popular categories</a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Fantasy", "Search", "Book", new { category = "Fantasy" }, new { @class="dropdown-item" })</li>
                        <li>@Html.ActionLink("Biography", "Search", "Book", new { category = "Biography" }, new { @class="dropdown-item" })</li>
                        <li>@Html.ActionLink("History", "Search", "Book", new { category = "History" }, new { @class="dropdown-item" })</li>
                        <li>@Html.ActionLink("Graphic Novels", "Search", "Book", new { category = "Graphic Novels" }, new { @class="dropdown-item" })</li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex" asp-action="Search" asp-controller="Book">
                <input asp-for="BookName" class="form-control me-2" type="search" placeholder="Search Book" aria-label="Search">
                <button class="btn btn-outline-primary" type="submit">Search</button>
            </form>
        </div>
    </div>
</header>
