@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = ViewBag.Book.Name;
}
@Html.Partial("_Navbar")
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="~/lib/bookcovers/@(ViewBag.Book.Isbn).jpg" /></div>
            <div class="col-md-6">
                <div class="small mb-1">ISBN: @ViewBag.Book.Isbn</div>
                <h1 class="display-5 fw-bolder">@ViewBag.Book.Name</h1><p> </p>
                <div class="fs-5 mb-5">
                    <h5>Author: @ViewBag.Book.Author.Name</h5>
                    <h5>Category: @ViewBag.Book.Category.Name</h5>
                    <h5>Page count: @ViewBag.Book.Pages</h5>
                    <h5>Publishing: @ViewBag.Book.PublishingHouse.Name</h5>
                    <h5>Publishing year: @ViewBag.Book.PublishingYear</h5>
                </div>
                    <h5>Description: </h5>
                <p class="lead">@ViewBag.Book.Description</p>
            </div>
        </div>
    </div>
</section>
